In [12]:
"""
Librairie pandas

Notions de la librairie pandas :
Tableau à 1 dimension (1 colonne) = Series
Tableau à 2 dimensions (2 colonnes) = DataFrame
index : en-têtes des lignes

L'avantage de cette librairie est que les opérations ne
se feront entre deux tableaux qui auront deux index identiques
À titre d'exemple deux tableaux avec un en-tête noms, prenoms et âges :
Les additions ne se feront que pour les colonnes qui auront le label 'ages'

Autre avantage : la librairie pandas permet d'afficher les en-têtes des
tableaux qui ne sont pas par principe, créés par le programmeur concepteur.
À cela, les données sont généralement importés d'un fichier html, csv,
excel, json, sql, python pickle...

Les séries sont des tableaux à 1 dimension sur lesquels on va mettre un
index au niveau des lignes uniquement

Éditeur : Laurent REYNAUD
Date : 25-06-2021
"""

"\nLibrairie pandas\n\nNotions de la librairie pandas :\nTableau à 1 dimension (1 colonne) = Series\nTableau à 2 dimensions (2 colonnes) = DataFrame\nindex : en-têtes des lignes\n\nL'avantage de cette librairie est que les opérations ne\nse feront entre deux tableaux qui auront deux index identiques\nÀ titre d'exemple deux tableaux avec un en-tête noms, prenoms et âges :\nLes additions ne se feront que pour les colonnes qui auront le label 'ages'\n\nAutre avantage : la librairie pandas permet d'afficher les en-têtes des\ntableaux qui ne sont pas par principe, créés par le programmeur concepteur.\nÀ cela, les données sont généralement importés d'un fichier html, csv,\nexcel, json, sql, python pickle...\n\nLes séries sont des tableaux à 1 dimension sur lesquels on va mettre un\nindex au niveau des lignes uniquement\n\nÉditeur : Laurent REYNAUD\nDate : 25-06-2021\n"

In [13]:
import pandas as pd

In [14]:
# Tableau d'âge de personnes
s = pd.Series([20, 30, 40, 50],
              index=['eve', 'bill', 'liz', 'bob'])
s

eve     20
bill    30
liz     40
bob     50
dtype: int64

In [15]:
# Liste des valeurs du tableau numpy
s.values

array([20, 30, 40, 50], dtype=int64)

In [16]:
# Liste des index du tableau
s.index

Index(['eve', 'bill', 'liz', 'bob'], dtype='object')

In [17]:
# Accéder aux éléments du tableau
s.loc['eve']

20

In [18]:
# Accéder aux valeurs de Eve jusqu'à Liz (Attention inclus)
s.loc['eve':'liz']

eve     20
bill    30
liz     40
dtype: int64

In [20]:
# Tableaux d'animaux détenus selon des personnes listés
animaux = ['chien', 'chat', 'chat', 'chien', 'poisson']
proprio = ['eve', 'bob', 'eve', 'bill', 'liz']

In [22]:
# Combinaison des 2 tableaux ci-avant
s = pd.Series(animaux, 
              index=proprio)
s

eve       chien
bob        chat
eve        chat
bill      chien
liz     poisson
dtype: object

In [23]:
# Slicing sur ce nouveau tableau
# print(s.loc['eve':'liz'])
"""Résultat : il n'est pas possible de faire des slicings
sur des index dupliqués...
Solution : trier d'abord les index"""

"Résultat : il n'est pas possible de faire des slicings\nsur des index dupliqués...\nSolution : trier d'abord les index"

In [25]:
# Trie des index
s = s.sort_index()
s.loc['eve':'liz']

eve      chien
eve       chat
liz    poisson
dtype: object

In [27]:
# La fonction iloc permet d'accéder aux éléments du tableau
#Accès au 1er élément de la liste
s.iloc[0]

'chien'

In [28]:
#Accès au 5ème élément de la liste
s.iloc[4]

'poisson'

In [29]:
# Accès aux index et aux valeurs de l'élément 1 à 2 (élément 3 exclu)
s.iloc[1:3]

bob     chat
eve    chien
dtype: object

In [30]:
# Tous les index et les valeurs dont la valeur est 'chien' ou
# la valeur est 'poisson'
s.loc[(s=='chien') | (s=='poisson')]

bill      chien
eve       chien
liz     poisson
dtype: object

In [32]:
# Tous les index et les valeurs dont la valeur est 'chien' ou
# la valeur est 'poisson' sont remplacées par 'autres'
s.loc[(s=='chien') | (s=='poisson')] = 'autre'
s

bill    autre
bob      chat
eve     autre
eve      chat
liz     autre
dtype: object

In [33]:
# Nouveaux tableaux
s1 = pd.Series([1, 2, 3], index=list('abc'))
s1

a    1
b    2
c    3
dtype: int64

In [34]:
s2 = pd.Series([5, 6, 7], index=list('acd'))
s2

a    5
c    6
d    7
dtype: int64

In [35]:
# Addition entre les deux tableaux ci-dessus :
# L'opération ne se fait que pour les index identiques
# Et le résultat est toujours un float64
s1 + s2

a    6.0
b    NaN
c    9.0
d    NaN
dtype: float64

In [36]:
# Pour toutes les opérations dont les index ne sont
# pas identiques, rajout d'une nouvelle valeur
s1.add(s2, fill_value=50)

a     6.0
b    52.0
c     9.0
d    57.0
dtype: float64